body {
	font-family: "Montserrat", sans-serif;
}
h1, h2, h3, h4, h5, h6, ul, p {
	margin: 0;
	padding: 0;
	border: 0;
}
.navbar {
	padding: 35px 0;
}
.navbar-nav .nav-item {
	padding: 0 10px;
}
.navbar-nav .nav-link {
	text-transform: uppercase;
	font-weight: bold;
	color: #777;
	font-size: 14px;
}
.jumbotron {
	margin: 0;
	padding: 0;
	position: relative;
	height: 530px;
	background: url("../images/main-banner.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.banner-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.banner-title h1 {
	color: #fff;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
}

.services {
	padding: 100px 0;
}
.services .service-title {
	text-align: center;
	color: #222;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}
.services .service-tagline {
	text-align: center;
	color: #777;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin-bottom: 90px;
}
.service-box {
	text-align: center;
}
.service-box .service-box-image {
	margin-bottom: 40px;	
}
.service-box .service-box-title {
	color: #222;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.service-box .service-box-text {
	font-size: 14px;
	color: #777;
	font-family: 'Roboto Slab', serif;
}
.relax-banner {
	height: 616px;
	background: url("../images/relax-banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.relax-banner .relax-banner-title {
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -10%);
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}
.relax-banner .green {
	color: #7cc576;
}

.latest {
	padding: 100px 0;
}
.latest .latest-title {
	text-align: center;
	color: #222;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}
.latest .latest-tagline {
	text-align: center;
	color: #777;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin-bottom: 90px;
}
.latest .latest-box-title {
	color: #222;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.latest .latest-box-text {
	font-size: 16px;
	color: #777;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 40px;
}
.latest-list-item {
	list-style-type: none;
	text-indent: 60px;
	margin-bottom: 50px;
}
.latest-list-item .latest-list-title {
	color: #222;
	font-size: 18px;
	font-weight: bold;
}
.latest-list-item .latest-list-text {
	font-size: 16px;
	color: #777;
	font-family: 'Roboto Slab', serif;
}
.latest .latest-more-link {
	color: #7cc576;
	font-weight: 900;
}

.value {
	padding: 100px 0;
	background: #f9f9f9;
}
.value .value-title {
	text-align: center;
	color: #222;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}
.value .value-tagline {
	text-align: center;
	color: #777;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin-bottom: 90px;
}
.value-box {
	text-align: center;
}
.value-box .value-box-image {
	margin-bottom: 25px;
}
.value-box .value-box-title {
	color: #222;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.value-box .value-box-text {
	font-size: 14px;
	color: #777;
	font-family: 'Roboto Slab', serif;
	width: 90%;
}

.clients {
	padding: 100px 0;
}
.clients .clients-title {
	text-align: center;
	color: #222;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}
.clients .clients-tagline {
	text-align: center;
	color: #777;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin-bottom: 90px;
}
.client-box {
	background: #f9f9f9;
	padding: 40px;
	margin-bottom: 10px;
	width: 60%;
}
.client-box .clients-quote {
	color: #777;
	font-size: 22px;
	font-family: "Roboto Slab", serif;
}
.client-box .clients-author {
	color: #7cc576;
	font-size: 18px;
	font-family: "Roboto Slab", serif;
}
.client-box-right {
	position: relative;
	left: 30%;
	margin-bottom: 80px;
}
.client-box-right:after {
	content: "";
	background: #f9f9f9;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: -15px;
	transform: translateY(-50%) rotate(45deg);
}
.client-box-left {
	position: relative;
	left: 10%;
}
.client-box-left:after {
	content: "";
	background: #f9f9f9;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	right: -15px;
	transform: translateY(-50%) rotate(45deg);
}

.talk {
	padding: 70px 0;
	background: #7cc576;
	text-align: center;
}
.talk .talk-message {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.talk .talk-button {
	background: #7cc576;
	text-decoration: none;
	border: 3px solid #fff;
	border-radius: 5px;
	padding: 10px 30px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.client-logo {
	padding: 60px 0;
}
.logo-box {
	width: 69%;
	margin: auto;
}
.logo-box img {
	width: 100%;
}

.footer-content {
	padding: 60px 0;
	background: #222;
	color: #fff;
}
.footer-list {
	list-style-type: none;
}
.footer-list .footer-list-item {
	margin-bottom: 15px;
	color: #ececec;
	font-family: 'Roboto Slab', serif;
}
.footer-list .footer-list-item img {
	margin-right: 10px;
}
.footer-list .footer-list-item h4 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}
.footer-list .footer-list-item .post-time {
	font-size: 12px;
}

.copyright {
	padding: 45px 0;
}
.copyright .copyright-text {
	color: #555;
	font-size: 16px;
	font-weight: bold;
}

@media (max-width: 960px) {
	.banner-title h1 {
		font-size: 40px;
	}
	.relax-banner .relax-banner-title {
		position: absolute;
		left: 70%;
		top: 10%;
		width: 100%;
	}
}

@media (max-width: 768px) {
	.banner-title h1 {
		font-size: 32px;
	}
	.services .service-title {
		font-size: 32px;
	}
	.services .service-tagline {
		font-size: 16px;
	}
	.relax-banner .relax-banner-title {
		font-size: 32px;
		left: 60%;
		text-shadow: 1px 2px 2px #666;
	}
	.latest .latest-title {
		font-size: 32px;
	}
	.latest .latest-tagline {
		font-size: 16px;
	}
	.value .value-title {
		font-size: 32px;
	}
	.value .value-tagline {
		font-size: 16px;
	}
	.clients .clients-title {
		font-size: 32px;
	}
	.clients .clients-tagline {
		font-size: 16px;
	}
	.talk .talk-message {
		font-size: 32px;
	}
	.logo-box {
		width: 96%;
		margin: auto;
	}
	.logo-box img {
		width: 100%;
	}
	.client-box {
		width: 96%;
		margin: auto;
	}
	.client-box .clients-quote {
		font-size: 16px;
	}
	.client-box .clients-author {
		font-size: 14px;
	}
	.client-box-right {
		position: relative;
		left: 0%;
		margin-bottom: 80px;
	}
	.client-box-left {
		position: relative;
		left: 0%;
	}
	.footer-list .footer-list-item {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.banner-title {
		width: 100%;
	}
	.banner-title h1 {
		font-size: 28px;
	}
	.services .service-title {
		font-size: 26px;
	}
	.services .service-tagline {
		font-size: 16px;
	}
	.relax-banner .relax-banner-title {
		font-size: 26px;
		left: 60%;
		text-shadow: 1px 2px 2px #666;
	}
	.latest .latest-title {
		font-size: 26px;
	}
	.latest .latest-tagline {
		font-size: 16px;
	}
	.value .value-title {
		font-size: 26px;
	}
	.value .value-tagline {
		font-size: 16px;
	}
	.clients .clients-title {
		font-size: 26px;
	}
	.clients .clients-tagline {
		font-size: 16px;
	}
	.talk .talk-message {
		font-size: 24px;
	}
	.logo-box {
		width: 96%;
		margin: auto;
	}
	.logo-box img {
		width: 100%;
	}
	.client-box {
		width: 96%;
		margin: auto;
	}
	.client-box .clients-quote {
		font-size: 16px;
	}
	.client-box .clients-author {
		font-size: 14px;
	}
	.client-box-right {
		position: relative;
		left: 0%;
		margin-bottom: 80px;
	}
	.client-box-left {
		position: relative;
		left: 0%;
	}
	.footer-list .footer-list-item {
		font-size: 14px;
	}
}